.modal {
    font-size: 12px;
    border: 1px solid rgb(48, 156, 255);
    border-radius: 10px;
    max-height: 450px;
    max-width: 300px;
    height: 450px;
    width: 300px;
    overflow-y: auto;

}

#logo{
    height: 50px;
    width: 50px;
}

.chatbot_form{
    position: sticky;
    bottom: 0px;
}

.modal > .header {
    display: flex;
    border-bottom: 1px solid rgb(48, 156, 255);
    background-color: rgb(48, 156, 255);

}
.modal > .content {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 340px;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}