// $assetPath: "C:/Users/Asus/Desktop/BTB-Latest/public/images";
$assetPath: "E:/react/bot-the-builder/public/imagess";

.main {
  .form {
    .fileUpload{
      margin-bottom: 35px;
      label{
        display: flex;
        align-items: top;
        span{
          margin-right: 19%;
          font-size: 1.35rem;
        }
      }
    }

    input[type=file]{
      border: none;
    }

    input[type=file]::file-selector-button {
      color: white;
      border-radius: 10px;
      background: #2E9AFD;
      padding: 7px 5%;
      border: none;
    }


    .help_text{
      p{
        font-size: 0.9rem;
        font-style: italic;
      }
      img{
        padding: 0.7rem;
        background-color: white;
        border: 2px solid #E1E4E8;
        border-radius: 10px;
      }
    }
  }
}
