.my_project_page_main{
    background-image: url("https://cdn.discordapp.com/attachments/914484290484596737/914844985935945788/unknown.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px 450px;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: 'border-box';
}