// $assetPath: "C:/Users/Asus/Desktop/BTB-Latest/public/images";
$assetPath: "E:/react/bot-the-builder/public/images";

.my_project_page_main{
    background: url(#{$assetPath}/hexagon.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 450px 450px;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: 'border-box';
}