$assetPath: "C:/Users/Asus/Desktop/BTB-Latest/public/images";
// $assetPath: "E:/react/bot-the-builder/public/images";

.my_projects_body{
    margin: 3%;
    margin-left: 6%;
    h4{
        font-weight: 450;
        margin-bottom: 3%;
    }
}