// $assetPath: "C:/Users/Asus/Desktop/BTB-Latest/public/images";
$assetPath: "E:/react/bot-the-builder/public/images";

.my_projects_body{
    margin: 3%;
    margin-left: 6%;
    .cards{
        display: flex;
    }
    h4{
        font-weight: 450;
    }
}