// $assetPath: "C:/Users/Asus/Desktop/BTB-Latest/public/images";
$assetPath: "E:/react/bot-the-builder/public/images";

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 450px;

  .form {
    background: url(#{$assetPath}/hexagon.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 265px 214px;
    background-size: 416px 374px;
    margin-left: 30px;
    display: flex;

    input {
      padding: 0;
    }

    .name {
      margin-bottom: 35px;
      label {
        display: flex;
        align-items: top;
        justify-content: space-between;
        span {
          font-size: 1.35rem;
        }
      }
    }

    .description {
      margin-bottom: 35px;
      label {
        display: flex;
        align-items: top;
        justify-content: space-between;
        span {
          font-size: 1.35rem;
        }
      }
    }

    .avatar {
      $image-bg: gray;
      $image-border: white;
      $image-border-current: aqua;
      display: flex;
      justify-content: space-between;
      
      span {
        font-size: 1.35rem;
      }

      .icons {
        max-width: 270px;
      }

      .square {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 2px;
        transition: all 0.3s ease;
      }

      .image {
        opacity: 1;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid black;
        background-image: url(#{$assetPath}/avatar.png);
        background-position: center center;
        background-color: $image-bg;
        display: inline-block;
        margin: 0;
        padding: 0;

        &:hover {
          opacity: 1;
        }
      }
      
      .radio-img {
        > input {
          display: none;
        }
        > .image {
          cursor: pointer;
          border: 2px solid black;
        }
        > input:checked + .square {
          background-color: #cde9c4;
          border: 1px solid grey;
        }
      }
    }

    button {
      position: relative;
      top: 21%;
      float: right;
      border-radius: 10px;
      background: #56ac00;
      padding: 7px 6%;
      border: none;
    }
  }

  .image {
    img {
      position: relative;
      width: 450px;
      height: 450px;
    }
  }
}
