.yolo-body{
    margin: 10px 10px 10px 40px;
    .paper{
        border-radius: 20px;
        padding: 40px 40px;
        height: 100%;
        max-width: 370px;
        background: #2E9AFD33;

        h3,p{
            font-size: 30px;
            margin: 0;
            text-align: center;
        }

        p{
            padding-top: 10px;
            font-size: 24px;
            color: #2E9AFD;
        }
    }

    //ChatBox
    .Chatbox{
        padding-bottom: 1px;
        box-shadow: 0 0 8px 4px #bebebe;
        border-radius: 10px;
        margin: -67px 24px 0px 0px;

        .Autoscroll{
            display: flex;
            flex-direction: column;
            min-height: 364px;
            max-height: 364px;
            overflow-y: scroll;
        }

        .radio {
            visibility:hidden;
        }
        label {
            cursor: pointer;
        }
        .radio:checked + label {
            background: #2E9AFD;
            color: white;
        }

        label{
            text-align: center;
            width: 46%;
            border: 1px solid black;
        }
    }
}