.body{
    display: flex;

    .left-content{
        padding: 0;
        margin-left: 8%;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .right-content{
        padding: 0;
        margin-left: 2%;
        margin-top: 48px;
        display: flex;
        justify-content: center;
        align-self: start;
    }
}