.MarketingText{
    margin: 5rem 5rem 0 0;
    p{
        font-size: 1.5rem;
    }

}
#HeadingMarketingText{
    margin: 0;
    font-size: 3rem;
    font-weight: 545;
}
.TextMarketingText{
    font-size: 1.5rem;
}