.Navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: white;

    .left_content{
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            width: 85px;
            height: 82px;
            cursor: pointer;
        }
    
        p{
            font-size: 28px;
            margin-bottom: 0;
            padding: 0;
        }
    }

    .nav__links{
        padding: 0;
        margin-bottom: 0;
        // margin-right: 7%;
        display: flex;
        list-style-type: none;

        li{
            margin: 0 7%;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 21px;
                padding: 3px 19px;
                cursor: pointer;
                text-decoration:none;
                color: black;
            }
        }

        li:nth-child(2){
            a{
                border-radius: 10px;
                background-color: black;
                color: white;
            }
        }
    }
}