html{
    size: 62.5%;
}

// $assetPath: "C:/Users/Asus/Desktop/BTB-Latest/public/images";

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size : 1.4rem;
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}